.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between the buttons */
    padding: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    /* transition: background-color 0.3s; */
}
@media screen and (max-width: 820px) {
    .container {
      width : 200vw;
    }
  }
/* .button:hover {
    background-color: #005bb5;
} */
