.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width : 100vw;
    flex-wrap: nowrap; /* Ensures all components are in one line */
    overflow-x: auto; /* Enables horizontal scrolling if needed */
    /* padding: 20px; */
    overflow-x: auto;
    /* width : 100vw; */
}

@media screen and (max-width: 820px) {
    .container {
      width : 200vw;
    }
  }